* {
	margin: 0;
	padding: 0;
	/* height: 40px; */
}

button {
	/* background-color: #191970; */
	color: white;
	font-size: 1.5rem;
	/* width: 40px; */
	/* height: 40px; */
	border-radius: 50px;
	border: transparent;
	/* text-align: center; */
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.buttonShowData {
	background-color: #191970;
	width: 45%;
	height: 100%;
	margin-right: 5px;
}

.buttonShowData:hover {
	border-color: white;
	border: 1px;
	border-style: solid;
}

.showData {
	width: 5%;
	/* background-color: #191970; */
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.buttonData {
	padding: 2px;
}

#edit {
	margin-right: 5px;
}

.buttons {
	display: flex;
	align-items: center;
	width: 10%;
	justify-content: flex-end;
	/* background-color: tomato; */
}

.itemData {
	display: flex;
	align-items: center;
	/* width: 216px; */
	/* background-color: black; */
	flex-direction: row;
	padding-left: 5px;
}

.desc {
	font-size: 1rem;
	font-weight: 700;
	color: #00aaff;
}

.inputData {
	background-color: transparent;
	font-size: 1rem;
	width: 70px;
	text-align: center;
	color: white;
	border-bottom: 1px solid;
	border-radius: 0px;
}

#inputDefeito {
	width: 300px;
}

#inputObs {
	width: 1000px;
}

.infoData {
	width: 85%;
	/* padding-left: 5px; */
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-start;
	/* background-color: violet; */
	gap: 20px;
}

li {
	background-color: #3f3f9d;
	border-radius: 5px;
	margin: 1px;
	font-size: 1.25rem;
	height: 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: nowrap;
	color: white;
	padding: 5px;
	/* justify-content: flex-start; */
}

.select #status {
	height: 100%;
	width: 23px;
}

#principalInfo {
	width: 100%;
	height: 100%;
	display: flex;
}

ul {
	margin: 20px;
	height: 100%;
	list-style: decimal;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	gap: 5px;
}

main {
	background-color: white;
	grid-column: 2;
	grid-row: 2;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: center;
	align-items: stretch;
	transition: 1s;
}

.nome {
	font-size: 2rem;
	position: absolute;
	left: calc((100vw / 5) * 2.25);
}

.nome a {
	list-style: none;
	color: white;
	text-decoration: none;
}

section {
	align-items: flex-start;
	justify-content: flex-start;
}

.partes {
	background-color: #3f3f9d;
	border-radius: 10px;
	width: 93%;
	margin: 10px;
}

.parte-tres {
	margin-bottom: 0px;
}

.parte-um {
	margin-bottom: 0px;
}

.parte-dois {
	margin-bottom: 0px;
}

form {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr;
	justify-items: center;
	color: rgb(255, 255, 255);
}

html {
	box-sizing: border-box;
}

body {
	color: rgb(0, 0, 0);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 10vh 90vh;
	background-color: #191970;
}

body::-webkit-scrollbar {
	width: 0px;
}

label {
	display: block;
	font-size: 0.75rem;
}

.form-box {
	background-color: #191970;
	width: 0;
	height: 100vh;
	position: fixed;
	overflow-y: scroll;
	overflow-x: hidden;
	display: flex !important;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	transition: 1s;
	z-index: 2;
	box-shadow: -1px 10.625vh 5px 5px transparent;
}

.form-box::-webkit-scrollbar {
	width: 0px;
}

.openForm {
	width: 20vw;
	box-shadow: -1px 10.625vh 5px 5px black;
	transition: 1s;
	position: fixed;
}

input,
select {
	border-style: hidden;
	padding: 5px;
	border-radius: 5px;
}

label {
	font-size: 1rem;
}

.linhas {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	flex-direction: column;
	padding: 6px;
	width: 95%;
}

.box {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 2px;
}

.rotate {
	transform: rotate(225deg);
	transition: 0.5s;
	background-color: #191970 !important;
	font-size: 2rem !important;
	padding: 7px !important;
}

.rotate:hover {
	background-color: red !important;
}

#add-data,
.open-form-button {
	background-color: #3f3f9d;
	padding: 10px;
	color: white;
	font-size: 1.625rem;
	border-style: none;
}

#add-data {
	width: 93%;
	margin: 10px;
	border-radius: 10px;
}

.open-form-button {
	margin: 5px;
	margin-left: 15px;
	border-radius: 50px;
	width: 50px;
	height: 50px;
	transition: 0.3s;
	font-weight: 600;
	font-size: 2.5rem;
	text-align: center;
	padding: 0px;
}

.open-form-button:hover {
	background-color: #191970;
}

.edit-and-delete-button {
	padding: 20%;

	margin-left: 15px;

	color: white;
}

.edit-and-delete-button:hover {
	/* border: solid 1px white; */
	background-color: #3f51b5;
}

header {
	width: 100vw;
	display: flex;
	align-items: center;
	background-color: #191970;
	box-shadow: -2px 1px 5px 1px black;
	color: white;
	grid-column: 2;
	grid-row: 1;
	transition: 1s;
	z-index: 1;
}

.header-with-form-open {
	width: 80vw;
	transition: 1.05s;
}

#modal {
	position: absolute;
	z-index: 50;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.7);
}

#card {
	width: 30%;
	height: 40%;
	background-color: #33373b;
	position: relative;
}

#confirm {
	/* background-color: yellowgreen; */
	height: 47%;
}

#confirm p {
	font-size: 1.5rem;
	padding: 3%;
	padding-top: 5%;
	color: white;
}

#fechar {
	position: absolute;
	width: 10%;
	height: 15%;
	right: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.75rem;
	border: solid 3px red;
}

#card h2 {
	/* background-color: yellowgreen; */
	width: 89%;
	height: 17%;
	display: flex;
	align-items: center;
	padding-left: 2%;
	color: white;
	font-size: 1.7rem;
}

#btnNot a,
#btnYes a {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: 10%;
	width: 20%;
	height: 15%;
}

#btnYes a {
	right: 15%;
	border: solid 3px #4caf50;
	text-decoration: none;
	color: #4caf50;
}

#btnNot a {
	left: 15%;
	border: solid 3px red;
}

#fechar a {
	padding: 10% 40%;
}

#fechar a,
#btnNot a {
	text-decoration: none;
	color: red;
}

#fechar a:hover,
#btnNot a:hover {
	background-color: red;
	color: white;
}

#btnYes a:hover {
	background-color: #4caf50;
	color: white;
}

#hiddenInformation {
	display: none;
}

.displayInformation {
	display: flex !important;
	flex-direction: row !important;
	flex-wrap: wrap !important;
	height: 80%;
}

.displayInformation input {
	/* background-color: black; */ /* border-radius: 10px; */
	width: 100px;
	margin-left: 10px;
}

#hiddenInformation .Line {
	display: flex;
}

.openLi {
	height: 25%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.open {
	height: 20% !important;
}

/*
.resizeButton{
	height: 40px !important;
	width: 40px;
	transform: rotate(225deg);
	transition: 0.5s;
}
*/
