<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>replit</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <div class="form-box">
      <form action="/save" method="post">
        <!-- ********************* PARTE UM ********************* -->
        <section class="parte-um partes">
          <!-- ----------------LINHA UM---------------- -->
          <div class="linha-um linhas">
            <div class="box">
              <label for="lojas">Loja</label>
              <select id="lojas" name="lojas">
                <option value="Uberaupe - Uberaba Auto Peças LTDA.">
                  Uberaupe - Uberaba Auto Peças LTDA.
                </option>
                <option value="Uberauto - Uberaba Acessórios.">
                  Uberauto - Uberaba Acessórios.
                </option>
              </select>
            </div>

            <div class="box">
              <label for="data">Data</label>
              <input name="data" id="data" type="date" />
            </div>

            <div class="box">
              <label for="responsavel">Responsável</label>
              <select id="responsavel" name="responsavel">
                <option value="Gisney">Gisney</option>
                <option value="Gabriel">Gabriel</option>
              </select>
            </div>
          </div>
          <!-- ----------------LINHA DOIS---------------- -->
          <div class="linha-dois linhas">
            <div class="box">
              <label for="codInt">Código Interno Produto</label>
              <input name="codInt" id="codInt" type="number" />
            </div>

            <div class="box">
              <label for="produto">Produto</label>
              <input name="produto" id="produto" type="text" />
            </div>

            <div class="box">
              <label for="codFornecedor">Codigo Fornecedor</label>
              <input name="codFornecedor" id="codFornecedor" type="number" />
            </div>

            <div class="box">
              <label for="fornecedor">Fornecedor</label>
              <input name="fornecedor" id="fornecedor" type="text" />
            </div>
          </div>
          <!-- ----------------LINHA TRES---------------- -->
          <div class="linha-tres linhas">
            <div class="box">
              <label for="nfCompra">NF Compra</label>
              <input name="nfCompra" id="nfCompra" type="number" />
            </div>

            <div class="box">
              <label for="emissaoNfCompra">Emissão</label>
              <input name="emissaoNfCompra" id="emissaoNfCompra" type="date" />
            </div>

            <div class="box">
              <label for="codigoProdutoFornecedor">Cod Produto na Nota</label>
              <input
                name="codigoProdutoFornecedor"
                id="codigoProdutoFornecedor"
                type="number"
              />
            </div>

            <div class="box">
              <label for="quantidade">Quantidade</label>
              <input name="quantidade" id="quantidade" type="number" />
            </div>

            <div class="box">
              <label for="valorUniNota">Valor</label>
              <input
                name="valorUniNota"
                id="valorUniNota"
                type="number"
                step="0.01"
              />
            </div>
          </div>
          <!-- ----------------LINHA QUATRO---------------- -->
          <div class="linha-quatro linhas">
            <div class="box">
              <label for="descDefeito">Descrição do defeito</label>
              <input name="descDefeito" id="descDefeito" type="text" />
            </div>

            <div class="box">
              <label for="valorTotal">Valor Total</label>
              <input
                name="valorTotal"
                id="valorTotal"
                type="number"
                step="0.01"
              />
            </div>
          </div>
        </section>

        <!-- ********************* PARTE DOIS ********************* -->
        <section class="parte-dois partes">
          <!-- ----------------LINHA CINCO---------------- -->
          <div class="linha-cinco linhas">
            <div class="box">
              <label for="nfVenda">NF Venda</label>
              <input name="nfVenda" id="nfVenda" type="number" />
            </div>

            <div class="box">
              <label for="emissaoNfVenda">Emissão</label>
              <input name="emissaoNfVenda" id="emissaoNfVenda" type="date" />
            </div>

            <div class="box">
              <label for="nomeCliente">Nome do Cliente</label>
              <input name="nomeCliente" id="nomeCliente" type="text" />
            </div>
          </div>
        </section>

        <!-- ********************* PARTE TRES ********************* -->
        <section class="parte-tres partes">
          <!-- ----------------LINHA SEIS---------------- -->
          <div class="linha-seis linhas">
            <div class="box">
              <label for="numOs">N° OS</label>
              <input name="numOs" id="numOs" type="number" />
            </div>

            <div class="box">
              <label for="nfGarantia">NF Garantia</label>
              <input name="nfGarantia" id="nfGarantia" type="number" />
            </div>

            <div class="box">
              <label for="emissaoNfGarantia">Emissão</label>
              <input
                name="emissaoNfGarantia"
                id="emissaoNfGarantia"
                type="date"
              />
            </div>
          </div>
          <!-- ----------------LINHA SETE---------------- -->
          <div class="linha-sete linhas">
            <div class="box">
              <label for="observacao">Obs</label>
              <input name="observacao" id="observacao" type="text" />
            </div>
          </div>
        </section>
        <!-- ********************* PARTE QUATRO ********************* -->
        <!-- ----------------LINHA OITO---------------- -->
        <button id="add-data" type="submit">Adicionar</button>
      </form>
    </div>
    <header>
      <button class="open-form-button" onclick="openForm()">
        +
      </button>
      <div class="nome">
        Garantias
      </div>
    </header>
    <main>
      <ul>
        <% dataList.forEach((lojas) => { %> 
          <li> 
            <%= lojas.codInt %> 
            <a class="edit-and-delete-button" href="http://">
              <svg id="edit-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
              </svg>
            </a>
            <a class="edit-and-delete-button" href="http://">
              <svg id="delete-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
              </svg>
            </a>
          </li>  
        <% }) %>
      </ul>
    </main>
    <script src="script.js"></script>
  </body>
</html>
