<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>replit</title>
		<link href="style.css" rel="stylesheet" type="text/css" />
	</head>

	<body>
		<main>
			<form action="/create" method="post">
				<!-- ********************* PARTE UM ********************* -->
				<section class="parte-um partes">
					<!-- ----------------LINHA UM---------------- -->
					<div class="linha-um linhas"> 

						<div class="box">
							<label for="lojas">Loja</label>
							<input list="lojas" name="lojas">
							<datalist id="lojas">
								<option value="Uberaupe - Uberaba Auto Peças LTDA.">
								<option value="Uberauto - Uberaba Acessórios.">
							</datalist>
						</div>

						<div class="box">
							<label for="data-lanc-dados">Data</label>
							<input  name="task3" id="data-lanc-dados" type="date" />
						</div>

						<div class="box">
							<label for="responsavel">Responsável</label>
							<input list="responsavel" name="responsavel">
							<datalist id="responsavel">
								<option value="Gisney">
								<option value="Gabriel">
							</datalist>		
						</div>

					</div>
					<!-- ----------------LINHA DOIS---------------- -->
					<div class="linha-dois linhas"> 

						<div class="box">
							<label for="cod-prod-loja">Código Interno Produto</label>
							<input  name="task6" id="cod-prod-loja" type="number" />
						</div>

						<div class="box">
							<label for="produto">Produto</label>
							<input name="task7" id="produto" type="text" />
						</div>

						<div class="box">
							<label for="cod-forn">Codigo Fornecedor</label>
							<input name="task8" id="cod-forn" type="number" />
						</div>

						<div class="box">
							<label for="fornecedor">Fornecedor</label>
							<input name="task9" id="fornecedor" type="text" />
						</div>

					</div>
					<!-- ----------------LINHA TRES---------------- -->
					<div class="linha-tres linhas"> 

						<div class="box">
							<label for="nf-compra">NF Compra</label>
							<input name="task10" id="nf-compra" type="number" />
						</div>

						<div class="box">
							<label for="data-emissao-nf-compra">Emissão</label>
							<input name="task11" id="data-emissao-nf-compra" type="date" />
						</div>

						<div class="box">
							<label for="cod-prod-nf">Cod Produto na Nota</label>
							<input name="task12" id="cod-prod-nf" type="number" />
						</div>

						<div class="box">
							<label for="quantidade">Quantidade</label>
							<input name="task13" id="quantidade" type="number" />
						</div>

						<div class="box">
							<label for="valor-unit">Valor</label>
							<input name="task14" id="valor-unit" type="number" />
						</div>

					</div>
					<!-- ----------------LINHA QUATRO---------------- -->
					<div class="linha-quatro linhas">

						<div class="box">
							<label for="desc-defeito">Descrição do defeito</label>
							<input name="task15" id="desc-defeito" type="text"/>
						</div>

						<div class="box">
							<label for="valor-total">Valor Total</label>
							<input name="task16" id="valor-total" type="number"/>
						</div>

					</div>
				</section>

				<!-- ********************* PARTE DOIS ********************* -->
				<section class="parte-dois partes">
					<!-- ----------------LINHA CINCO---------------- -->
					<div class="linha-cinco linhas"> 

						<div class="box">
							<label for="nf-venda">NF Venda</label>
							<input name="task17" id="nf-venda" type="number" />
						</div>

						<div class="box">
							<label for="data-emissao-nf-venda">Emissão</label>
							<input name="task18" id="data-emissao-nf-venda" type="date" />
						</div>

						<div class="box">
							<label for="nome-cliente">Nome do Cliente</label>
							<input name="task19" id="nome-cliente" type="text" />
						</div>

					</div>
				</section>

				<!-- ********************* PARTE TRES ********************* -->
				<section class="parte-tres partes">
					<!-- ----------------LINHA SEIS---------------- -->
					<div class="linha-seis linhas"> 

						<div class="box">
							<label for="num-os">N° OS</label>
							<input name="task20" id="num-os" type="number" />
						</div>

						<div class="box">
							<label for="nf-garantia">NF Garantia</label>
							<input  name="task21"id="nf-garantia" type="number" />
						</div>

						<div class="box">
							<label for="data-emissao-nf-venda">Emissão</label>
							<input  name="task22" id="data-emissao-nf-venda" type="date" />
						</div>

					</div>
					<!-- ----------------LINHA SETE---------------- -->
					<div class="linha-sete linhas"> 

						<div class="box">
							<label for="obs">Obs</label>
							<input name="task23" id="obs" type="text" />
						</div>

            <div class="box">
							<button id="submit" type="submit">Adicionar</button>
						</div>

					</div>
				</section>

			</form>	
		</main>
		<script src="script.js"></script>
	</body>
</html>
