<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>replit</title>
		<link href="style.css" rel="stylesheet" type="text/css" />
	</head>

	<body>
		<main>
			<form action="">
				<!-- ********************* PARTE UM ********************* -->
				<section class="parte-um">
					<!-- ----------------LINHA UM---------------- -->
					<div class="linha-um linhas"> 
						<div class="box">
							<label for="loja">Loja</label>
							<select id="loja">
								<option value="UBERAUPE">
									Uberaupe - Uberaba Auto Peças LTDA.
								</option>
								<option value="UBERAUTO">Uberauto - Uberaba Acessórios.</option>
							</select>
						</div>
						<div class="box">
							<label for="data-lanc-dados">Data</label>
							<input id="data-lanc-dados" type="date" />
						</div>
						<div class="box">
							<label for="responsavel">Responsável</label>
							<select id="responsavel">
								<option value="gisney">Gisney</option>
								<option value="gabriel">Gabriel</option>
							</select>
						</div>
					</div>
					<!-- ----------------LINHA DOIS---------------- -->
					<div class="linha-dois linhas"> 
						<div class="box">
							<label for="cod-prod-loja">Código Interno Produto</label>
							<input id="cod-prod-loja" type="number" />
						</div>
						<div class="box">
							<label for="produto">Produto</label>
							<input id="produto" type="text" />
						</div>
						<div class="box">
							<label for="cod-forn">Codigo Fornecedor</label>
							<input id="cod-forn" type="number" />
						</div>
						<div class="box">
							<label for="fornecedor">Fornecedor</label>
							<input id="fornecedor" type="text" />
						</div>
					</div>
					<!-- ----------------LINHA TRES---------------- -->
					<div class="linha-tres linhas"> 
						<div class="box">
							<label for="nf-compra">NF Compra</label>
							<input id="nf-compra" type="number" />
						</div>
						<div class="box">
							<label for="data-emissao-nf-compra">Emissão</label>
							<input id="data-emissao-nf-compra" type="date" />
						</div>
						<div class="box">
							<label for="cod-prod-nf">Cod Produto na Nota</label>
							<input id="cod-prod-nf" type="number" />
						</div>
						<div class="box">
							<label for="quantidade">Quantidade</label>
							<input id="quantidade" type="number" />
						</div>
						<div class="box">
							<label for="valor-unit">Valor</label>
							<input id="valor-unit" type="number" />
						</div>
					</div>
					<!-- ----------------LINHA QUATRO---------------- -->
					<div class="linha-quatro linhas">
						<div class="box">
							<label for="desc-defeito">Descrição do defeito</label>
							<input id="desc-defeito" type="text"/>
						</div>
						<div class="box">
							<label for="valor-total">Emissão</label>
							<input id="valor-total" type="number"/>
						</div>
					</div>
				</section>

				<!-- ********************* PARTE DOIS ********************* -->
				<section class="parte-dois">
					<!-- ----------------LINHA CINCO---------------- -->
					<div class="linha-cinco linhas"> 
						<div class="box">
							<label for="nf-venda">NF Venda</label>
							<input id="nf-venda" type="number" />
						</div>
						<div class="box">
							<label for="data-emissao-nf-venda">Emissão</label>
							<input id="data-emissao-nf-venda" type="date" />
						</div>
						<div class="box">
							<label for="nome-cliente">Nome do Cliente</label>
							<input id="nome-cliente" type="text" />
						</div>
					</div>
				</section>

				<!-- ********************* PARTE TRES ********************* -->
				<section class="parte-tres">
					<!-- ----------------LINHA SEIS---------------- -->
					<div class="linha-seis linhas"> 
						<div class="box">
							<label for="num-os">N° OS</label>
							<input id="num-os" type="number" />
						</div>
						<div class="box">
							<label for="nf-garantia">NF Garantia</label>
							<input id="nf-garantia" type="number" />
						</div>
						<div class="box">
							<label for="data-emissao-nf-venda">Emissão</label>
							<input id="data-emissao-nf-venda" type="date" />
						</div>
					</div>
					<!-- ----------------LINHA SETE---------------- -->
					<div class="linha-sete linhas"> 
						<div class="box">
							<label for="obs">Obs</label>
							<input id="obs" type="text" />
						</div>
					</div>
				</section>

			</form>	
		</main>
		<script src="script.js"></script>
	</body>
</html>
