<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Login</title>
		<link href="/style/login.css" rel="stylesheet" type="text/css" />
	</head>

	<body>
    <form id="login" action="/login" method="post">
      <input name="user" type="text" placeholder="Usuário">
      <input name="pass" type="password" placeholder="Senha">
      <button type="submit">Entrar</button>
    </form>
	</body>
</html>
